.carousel-caption {
    position:static !important;
}

.title-conect{
    padding-top: 40px;
    padding-inline: 20px;
    font-size: 32px;
    font-weight: 500;
}

.title-conect span {
    color: #3c52ff;
    font-weight: 700;
}

.image-carousel {
    border-radius: 20px;
    width: 300px;
    box-shadow: 0 2px 5px 0 rgb(9 24 255 / 20%);;
}

.item-carousel {
    margin-inline: 15px; 
}

.subtitle-conect {
    color: #3c52ff;
    font-weight: bold;
    margin-top: 10px;
    width: 300px;
    text-align: center;
}

.info-conect {
    font-size: 22px;
    width: 300px;
    text-align: center;
    font-weight: 300;
}

.lcUbOd {
    box-shadow: 0 0 1px 3px black !important;
    background-color: black !important;
}

@media (min-width : 768px) {
    .title-conect {
        font-weight: 700;
    }
}

@media (min-width : 1200px) {
    .title-conect {
        font-size: 36px;
    }
}

@media (min-width : 1400px) {
    .container-navbar{
        padding-inline:  150px !important;
    }

    .image-carousel {
        opacity: 0.6;
    }

    .image-carousel:hover {
        opacity: 1;
    }

    .title-conect {
        width: 97%;
    }
}